<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <meta name="viewport" content="width=1270"> -->
    <!-- <meta name="viewport" content="width=device-width"> -->
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

</head>

<body>
    <div class="container1">
        <header>
            <div class="container">
                <div class="header-inner">
                    <a class="logo" href="/">
                        <!-- <img class="logo__img" src="" alt="logo"> -->
                        <p class="logo__title">Logo</p>
                    </a>
                    <nav class="nav">
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="#about1" class="menu__link link1">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#courses" class="menu__link">
                                    Курсы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#reviews" class="menu__link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">
                                    FAQ
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#call-to-action" class="menu__link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                        <div class="burger">
                            <span></span>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
{% block content %}
{% endblock %}
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-inner__item">
                    <img src="" alt="" class="footer-inner__item-logo">
                    <ul class="footer-inner__item-list-ul">
                        <li class="footer-inner__item-list-li">
                            <a href="#"><img src="{% static './assets/images/insta.svg' %}" alt=""
                                    class="footer-inner__item-img-logo1"></a>
                        <li class="footer-inner__item-list-li">
                            <a href="#"><img src="{% static './assets/images/telegram.svg' %}" alt=""
                                    class="footer-inner__item-img-logo2"></a>
                        </li>
                        <li class="footer-inner__item-list-li">
                            <a href="#"><img src="{% static './assets/images/whatsapp.svg' %}" alt=""
                                    class="footer-inner__item-img-logo3"></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-inner__item footer-inner__item-adaptiv">
                    <h2 class="footer-inner__item-title">
                        УЧЕБНЫЕ КУРСЫ
                    </h2>
                    <ul class="footer-inner__item-list">
                        {% for i in courses %}
                        <li>
                            <a href="{% url 'course_detail' i.pk %}" class="footer-inner__item-list-link">{{ i.title }}</a>
                        </li>
                        {% endfor %}

                        <li>
                            <a href="#" class="footer-inner__item-list-link">Смотреть все курсы</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-inner__item">
                    <h2 class="footer-inner__item-title">
                        ПРО ШКОЛУ
                    </h2>
                    <ul class="footer-inner__item-list">
                        <li>
                            <a href="#" class="footer-inner__item-list-link">О компании</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Команда</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Помощь</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Блоги</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-inner__item footer-inner__item-ml">
                    <h2 class="footer-inner__item-title">
                        УЧЕНИКАМ
                    </h2>
                    <ul class="footer-inner__item-list">
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Система оплаты</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Дисконтные карты</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Выпускники</a>
                        </li>
                        <li>
                            <a href="#" class="footer-inner__item-list-link">Мастер-классы</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-inner__item footer-inner__item-mt">
                    <img src="{% static './assets/images/location.png' %}" class="footer-inner__item-img">
                    <div class="footer-inner__item-addres">
                        <p class="footer-inner__item-descr">
                            Наш адрес: г. Бишкек, ул.
                        </p>
                        <p class="footer-inner__item-descr">
                            Каралаева 40
                        </p>
                        <p class="footer-inner__item-number ">
                            +996 (555) 300 555
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>